[submodule "projects/mvw"]
	path = projects/mvw
	url = git@github.com:kevinbeaty/mvw
[submodule "projects/kevinbeaty.github.com"]
	path = projects/kevinbeaty.github.com
	url = git@github.com:kevinbeaty/kevinbeaty.github.com
[submodule "projects/underarm"]
	path = projects/underarm
	url = git@github.com:kevinbeaty/underarm.git
[submodule "lib/mocha"]
	path = lib/mocha
	url = git://github.com/visionmedia/mocha.git
[submodule "lib/expect.js"]
	path = lib/expect.js
	url = git://github.com/LearnBoost/expect.js.git
